.h1-classLeval {
  display: flex;
  justify-content: space-between;
}

.nafn-á-character {
  border: none;
  border-bottom: 5px solid black;
  height: 2rem;
  width: 15rem;
}

.allt-um-class {
  border: solid 5px black;
  border-radius: 10px;
  width: 26rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.classAndLevel-background-playerName {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.race-alignment-experiencePoints {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.input-Pclass {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-allt-class {
  width: 6rem;
  height: 1rem;
  border: none;
  border-bottom: solid 1px black;
  margin-top: 10px;
}

.class-texsti {
  margin: 0;
  font-size: 12px;
}

/* efri parturinn  */

.útlínur {
  margin: auto;
  border: solid 1px black;
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
}

.ability-modifier {
  width: 10rem;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.STRENGTH, 
.DEXTERITY, 
.CONSTITUTION,
.INTELLIGENCE,
.WISDOM,
.CHARISMA {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 3px black;
  align-items: center;
  height: 7rem;
  border-radius: 30px;
}

.ability-modifiers-display {
 font-size: 30px; 
}

.ability-modifiers-nafn {
  font-size: 13px;
  padding-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-ability-mdifiers {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 90px;
  text-align: center;
}

/* ----- */

.skills {
  border: 1px solid blue;
  width: 20rem;
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inspiration-div, 
.proficiency-bonus-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: solid 5px black;
  width: 70%;
}

.inspiration-modifier, 
.proficiency-modifier {
  width: 2rem;
  height: 2rem;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-left: 5%;
} 

.proficiency-bonus-texsti {
  font-size: 15px;
}

.saving-throws-div{
  border: solid 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ST-str,
.ST-dex,
.ST-con,
.ST-int,
.ST-wis,
.ST-chr {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 10rem;
  align-items: center;
}

.skill-nafn {
  font-size: 11px;
}

.útskýring {
  font-size: 8px;
  color: gray;
}

.skills-svæðið {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 4px black;
}

.st-texsti {
  font-size: 10px;
}

/* ----- */

.HIT-POINTS-AC {
  border: 1px solid yellow;
  width: 40rem;
  order: 3;
}

.ac-hp-deathSaves-div {
  background-color: rgb(205, 203, 203);
  border-radius: 20px;
  border: solid 4px rgb(232, 232, 232);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ac-initiative-speed {
  display: flex;
  justify-content: space-around;
  background-color: rgb(205, 203, 203);
  border-radius: 20px;
}

.ac,
.initiative,
.speed {
  border: solid 5px rgb(139, 139, 139);
  height: 5rem;
  width: 6rem;
  border-radius: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-hit-points {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.HIT-POINTS {
  border: solid 2px rgb(139, 139, 139);
  border-radius: 20px;
  background-color: rgb(205, 203, 203);
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-around;
}

.HIT-POINTS-input {
  width: 25px;
  background-color: rgb(94, 94, 94);;
  border: none;
  color: white;
}

.display-hit-points-texst {
  font-size: 40px;
}

.HIT-POINTS-BUTTONS {
  display: flex;
  gap: 5px;
}

.HIT-POINTS-button-mínus,
.HIT-POINTS-button-Plús {
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: white;
}

.HIT-POINTS-button-mínus {
  background-color: red;
}

.HIT-POINTS-button-Plús {
  background-color: green;
}

.display-hit-points-saman-flex {
  display: flex;
  gap: 5px;
}

/* ----- */

.PERSONALITY-TRAITS {
  border: 1px solid green;
  width: 30rem;
  order: 4;
}